language: node_js
node_js:
  - '8'
env:
  - CXX=g++-4.8
addons:
  apt:
    sources:
      - ubuntu-toolchain-r-test
    packages:
      - g++-4.8
cache:
  yarn: true
  directories:
    - "node_modules"
install:
  - npm install -g codecov
script: 'npm run cover'
after_success:
  - codecov